# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/artifacts/
.idea/compiler.xml
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
erp-commons/erp-commons-app/erp-commons-app.iml
erp-commons/erp-commons-app/target/
erp-commons/erp-commons.iml
erp-commons/erp-dto/erp-dto.iml
erp-commons/erp-dto/target/
erp-commons/erp-utils/erp-utils.iml
erp-commons/erp-utils/target/
erp-microservices/erp-microservices.iml
erp-microservices/erp-ms-base/erp-ms-base-app/erp-ms-base-app.iml
erp-microservices/erp-ms-base/erp-ms-base-app/target/
erp-microservices/erp-ms-base/erp-ms-base-dao/erp-ms-base-dao.iml
erp-microservices/erp-ms-base/erp-ms-base-dao/target/
erp-microservices/erp-ms-base/erp-ms-base-domain/erp-ms-base-domain.iml
erp-microservices/erp-ms-base/erp-ms-base-domain/target/
erp-microservices/erp-ms-base/erp-ms-base-service/erp-ms-base-service.iml
erp-microservices/erp-ms-base/erp-ms-base-service/target/
erp-microservices/erp-ms-base/erp-ms-base.iml
erp-microservices/erp-ms-stock/erp-ms-stock-dao/erp-ms-stock-dao.iml
erp-microservices/erp-ms-stock/erp-ms-stock-dao/target/
erp-microservices/erp-ms-stock/erp-ms-stock-domain/erp-ms-stock-domain.iml
erp-microservices/erp-ms-stock/erp-ms-stock-domain/target/
erp-microservices/erp-ms-stock/erp-ms-stock-service/erp-ms-stock-service.iml
erp-microservices/erp-ms-stock/erp-ms-stock-service/target/
erp-microservices/erp-ms-stock/erp-ms-stock.iml
erp-webapps/erp-stock-webapp/erp-stock-webapp.iml
erp-webapps/erp-stock-webapp/target/
erp-webapps/erp-webapps.iml
erp.iml
/erp.iml
/.idea/misc.xml
/erp-webapps/erp-crm-webapp/erp-crm-webapp.iml
/erp-microservices/erp-ms-ik/erp-ms-ik.iml
/erp-microservices/erp-ms-ik/erp-ms-ik-service/erp-ms-ik-service.iml
/erp-microservices/erp-ms-ik/erp-ms-ik-domain/erp-ms-ik-domain.iml
/erp-microservices/erp-ms-ik/erp-ms-ik-dao/erp-ms-ik-dao.iml
/erp-webapps/erp-ik-webapp/erp-ik-webapp.iml
!/erp-webapps/erp-ik-webapp/erp-ik-webapp.iml
/erp-microservices/jjk.iml
/erp-microservices/erp-ms-crm/erp-ms-crm.iml
/erp-microservices/erp-ms-crm/erp-ms-crm-domain/erp-ms-crm-domain.iml
/erp-microservices/erp-ms-crm/erp-ms-crm-dao/erp-ms-crm-dao.iml
/erp-microservices/erp-ms-crm/erp-ms-crm-service/erp-ms-crm-service.iml
/erp-microservices/erp-ms-office/erp-ms-office.iml
/erp-microservices/erp-ms-office/erp-ms-office-domain/erp-ms-office-domain.iml
/erp-microservices/erp-ms-office/erp-ms-office-dao/erp-ms-office-dao.iml
/erp-microservices/erp-ms-office/erp-ms-office-service/erp-ms-office-service.iml
